
header {
    /* position: fixed; */
    /* top:0;
    right:0;
    left:0; */
    background: #fff;
    /* padding: 0px 30px; */
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    z-index: 5;
}

header .inner {
    /* display:none; */
}

header .logo,
.menu-symbol {
    width: 49%;
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

header .menu-symbol {
    text-align: right;
}

header .logo img {
    width: 40%;
}

header .menu-symbol img {
    width: 6%;
    cursor: pointer;
}

.side_nav_clip{
    position: fixed;
    top: 0;
    right:0;
    clip-path: circle(0 at 100% 0);
    transition: all .6s ease-out;
    z-index: 10;
    background-color: transparent;
}
.side-nav {
    /* display: none; */
    width: 400px;
    height: 100vh;
    box-shadow: 3px 3px 14px 4px #1c1c1c;
    position: relative;
    /* position: fixed; */
    /* right: -34%; */
    /* top: 0; */
    background-color: rgba(255, 255, 255, 1);
    /* backdrop-filter: blur(4px); */
    padding: 50px 0px;
    /* transition: all .6s ease-out; */
    /* z-index: 10; */
}

.side-nav .poly {
    position: absolute;
    top: 0;
    right: 0;
    height: 60%;
    width: 100%;
    background-color: #f3f3f3;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 100%);
    box-shadow: 0 -1px 1px 13px rgb(129, 129, 129);
}

.side-nav .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(37, 37, 37);
    cursor: pointer;
}
.side-nav .close img{
    width: 16px;
}
.side-nav .close h5 {
    font-size: 30px;
}

.side-nav .logo {
    width: 70%;
    display: block;
    margin: 10px auto;
    position: relative;
}

.side-nav .logo img {
    width: 100%;
}

.side-nav .list {
    position: relative;
}

.side-nav .list ul {
    list-style-type: none;
    padding-inline-start: 0px;
    padding-right: 0;
}

.side-nav .list ul li {
    /* transition: all 1s ease-in; */
}

.side-nav .list ul li a {
    display: block;
    padding: 15px 5px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #454545;
    font-weight: 100;
    font-size: 18px;
    font-family: 'Jost', sans-serif;
}

.side-nav .list ul li a i {
    font-size: 18px;
    margin-right: 10px;
}

.side-nav .list ul li:hover {
    /* background-image: linear-gradient(to right, #FA5B76, #C039E6); */
    background: linear-gradient(to right, #fd6c85, #e73a5d);
}

.side-nav .list ul li:hover a {
    color: white;
}


@media only screen and (max-width: 1200px) {
    /* .side-nav {
        right: -55%;
        width: 50%;
    } */
    header .logo img {
        width: 60%;
    }
}


@media only screen and (max-width: 992px) {
    .side-nav .logo {
        width: 80%;
    }
    .side-nav {
        /* right: -65%; */
        width: 350px;
    }
    header {
        padding: 20px;
    }
    header .logo img {
        width: 70%;
    }
    header .menu-symbol img {
        width: 18%;
    }
}

@media only screen and (max-width: 767px) {
    .side-nav {
        /* right: -75%; */
        width: 300px;
    }
    header .logo img {
        width: 80%;
    }
    header {
        padding: 10px 20px;
    }
}

@media only screen and (max-width: 600px) {
    .side-nav {
        box-shadow: none;
        /* right: -100%; */
        width: 320px;
    }
    header .logo img {
        width: 100%;
    }
    header {
        padding: 10px 15px;
    }
}



@media only screen and (max-width: 440px) {
    header {
        padding: 10px;
    }
}
